@font-face {
  font-family: "Inter Light";
  font-weight: 300;
  src: url('../fonts/inter/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url('../fonts/inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Inter Medium";
  font-weight: 500;
  src: url('../fonts/inter/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Inter SemiBold";
  font-weight: 600;
  src: url('../fonts/inter/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: "Inter Bold";
  font-weight: 700;
  src: url('../fonts/inter/Inter-Bold.ttf') format('truetype');
}